<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>THP</title>
</head>
<body>
<div th:fragment="pagination">
    <div class="row">
        <div class="col-sm-2 col-xs-2 col-md-2">
            <a onclick="_0_0()" th:if="${hasPreviousPage}" id="prev-page" class="btn btn-outline-primary" style="float:left"
               th:href="@{|${previousPageLink}|}">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                     class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                    <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
                </svg>
            </a>
            <button th:if="${!hasPreviousPage}" disabled id="prev-page-btn" class="btn btn-outline-primary"
                    style="float:left"
                    th:href="@{|${previousPageLink}|}">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                     class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                    <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
                </svg>
            </button>
        </div>
        <div class="col-sm-8 col-xs-8 col-md-8">
            <div class="row">
                <div class="col-md-4 col-xs-4 col-sm-4">
                    <h6 class="text-center mt-2" th:text="${'Page'}"></h6>
                </div>
                <div class="col-md-4 col-xs-4 col-sm-4">
                    <select id="jump-to-page" class="form-select" style="width: auto">
                        <option th:each="pageNo : ${totalPageArray}" th:selected="${pageNo == currentPage}" th:value="${pageNo}" th:text="${pageNo}"></option>
                    </select>
                </div>
                <div class="col-md-4 col-xs-4 col-sm-4">
                    <h6 class="text-center mt-2" th:text="${ '/ ' + totalPages}"></h6>
                </div>
            </div>
        </div>
        <!-- with jump to page functionality -->
        <!--<div class="col-sm-4 col-xs-4 col-md-4">
            <h6 class="text-center mt-2" th:text="${'Page ' +  currentPage + '/' + totalPages}"></h6>
        </div>-->
        <div class="col-sm-2 col-xs-2 col-md-2">
            <a onclick="_0_0()" th:if="${hasNextPage}" id="next-page" class="btn btn-outline-primary" style="float:right"
               th:href="@{|${nextPageLink}|}">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                     class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                    <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                </svg>
            </a>
            <button disabled th:if="${!hasNextPage}" id="next-page-btn" class="btn btn-outline-primary" style="float:right"
                    th:href="@{|${nextPageLink}|}">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                     class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                    <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                </svg>
            </button>
        </div>
    </div>
    <script>
        $("#jump-to-page").on("change",function(o){var n=o.currentTarget.value-1,a=window.location,i="",b=a.indexOf("?")<0?"?pageNo="+n:"&pageNo="+n,c=a+b;console.log(c);window.location=c});
    </script>
</div>
</body>
</html>